:root {
  --primary-color: #416a59;
  --secondary-color: #f5eec2;
  --tertiary-color: #c8d8e4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif;
  background-color: var(--tertiary-color);
  font-size: 1.2rem;
}

header {
  background: #ffffff;
  border-bottom: 0.1rem solid #333;
}

nav {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 25rem;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  display: flex;
  align-items: center;
  background: #ffffff;
  margin: 1rem;
  border-radius: 10px;
}

.container > img {
  width: 50%;
  height: 300px;
  object-fit: cover;
}

.img-left {
  border-radius: 10px 0 0 10px;
}

.img-right {
  border-radius: 0 10px 10px 0;
}

.container > p {
  font-size: 1.3rem;
  margin: 0 3rem;
  line-height: 2rem;
}

.container > p > a {
  color: var(--primary-color);
  text-decoration: underline;
}

/* ÜRÜNLER */

.urun-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 150px);
  grid-gap: 25rem 5rem;
  margin: 50px;
}

.urun {
  background: #f7f7f7;
  border-radius: 10px;
}

.urun > img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.urun-icerik {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.urun-aciklama {
  margin: 1rem;
  color: #373a36;
}

button {
  background-color: #bcfd4c;
  color: #000000;
  border: 1px solid var(--tertiary-color);
  border-radius: 10px 10px 0 0;
  padding: 10px 30px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 0.5rem;
}

button:hover {
  background-color: #5daa68;
  color: #ffffff;
}

/* ÜRÜNLER */

/* CONTACT */

.contact-body {
  background: url(./img/contact-bg1.jpg) fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-container > h1 {
  letter-spacing: 4px;
}

.form-container {
  margin-top: 4rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-container > input,
textarea {
  width: 400px;
  height: 3rem;
  padding: 10px;
  background: #ffffff;
  border: 0;
  resize: none;
  border: 2px solid #ccc;
  outline: none;
}

.input-container {
  position: relative;
  float: left;
  margin: 1rem;
}

.effect-1 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.4s;
}
.effect-1:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
}

textarea{
  height: auto;
}

textarea:focus {
  border: 2px solid #4caf50;
}

.btn-submit {
  justify-content: center;
  width: 30%;
  margin: auto;
  cursor: pointer;
  font-weight: bold;
  height: 2.5rem;
  padding: 10px;
  background: #ffffff;
  border: 2px solid #4caf50;
}

.btn-submit:hover{
  background-color: #4caf50;
}

/* CONTACT */
